@tailwind base;
@tailwind components;
@tailwind utilities;

.image-responsive-container {
  width: 100%;
}
.image-responsive-container > div {
  position: unset !important;
}
.image-responsive-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.nav-hidden {
  transform: translateY(-100%);
}

.nav-transition {
  transition: transform 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
